@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--bck-color);
 
}

:root{
    --header-footer-color: #98c1d9;
    --bck-color: #e0fbfc;
    --txt-color: #293241;
    --btn-color: orange;
}


/* navigation */

.navigation{
    background-color: var(--header-footer-color);
    color: white;
    padding: 1rem;
}


.navigation .link{
    color: black;  
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}


/* links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}


.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
}


/* container */

.container{
    max-width:600px;
    margin: auto;
    display: block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-height: 80vh;

}


/* -------- Fun with triangles ------ */
.heading{
    color: var(--txt-color);
    margin-top: 40px;
    font-size: 3rem;
}

.input-label-one{
    display: block;
    font-style: italic;
    font-size: 1.2rem;
}
.input-label-two{
    margin-top: 30px;
    display: block;
    font-style: italic;
    font-size: 1.2rem;
}
.input-label-three{
    margin-top: 30px;
    display: block;
    font-style: italic;
    font-size: 1.2rem;
}


#firstAngle, #secondAngle, #thirdAngle{
    margin-top: 10px;
    padding: 0.8rem;
    border-radius: 1.5rem;
    border: 0.1px solid grey;
}


#triangle-check{
    display:block;
    margin-top: 40px;
    padding: 20px 30px;
    border-radius: 2rem;
    border: none;
    background-color: var(--btn-color); 
    font-weight: bold;
    font-size: 1rem;
}




/* -------- Quiz ------ */

.quiz-heading{
    color: var(--txt-color);
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 3rem;
}


.quiz-form{
    margin-top: 50px;
}

#ques-one{
    font-size: 1.2rem;
    font-weight: bold;
}
#ques-two{
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}
#ques-three{
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

#submit-answer-btn{
    display:block;
    margin-top: 50px;
    padding: 15px 22px;
    border-radius: 2rem;
    border: none;
    background-color: var(--btn-color); 
    font-weight: bold;
    font-size: 1rem;
}


/* -------- Hypotenuse ------ */
#sides{
    margin-top: 10px;
    padding: 0.8rem;
    border-radius: 1.5rem;
    border: 0.1px solid grey;
}

.check-hypo{
    display:block;
    margin-top: 70px;
    padding: 15px 22px;
    border-radius: 2rem;
    border: none;
    background-color: var(--btn-color); 
    font-weight: bold;
    font-size: 1rem;
}





/* -------- Area ------ */

.check-ar{
    display:block;
    margin-top: 70px;
    padding: 15px 22px;
    border-radius: 2rem;
    border: none;
    background-color: var(--btn-color); 
    font-weight: bold;
    font-size: 1rem;
}


/* -------- Output ------ */

.output{
    display:block;
    margin-top: 50px;
    color: var(--txt-color);
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 50px;
}


.output-Box{
    display:block;
    margin-top: 50px;
    color: var(--txt-color);
    font-weight: bold;
    font-size: 1.5rem; 
}





/* Footer */

.footer{
    background-color: var(--header-footer-color);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}


.icon{
    margin-top: 25px;
    height: 30px;
    width: 30px;
} 


.non-bullet-list{
    list-style: none;    
}

.icon-list-inline{
    display: inline;
    padding: 0rem 2rem;
}






























